<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/worker/worker.css">
    <link rel="stylesheet" href="../css/worker/animations.css">
    <link rel="stylesheet" href="../css/global.css">
    <title>Document</title>
</head>

<body>
    <header>
        <button id="menu-button">
            <img src="../assets/icons/menu.png" alt="">
        </button>
        <input type="search" name="" id="search">
        <button id="notification">
            <img src="../assets/icons/bell.png" alt="">
        </button>
        <button id="quest">
            <img src="../assets/icons/money.png" alt="">
        </button>
    </header>
    <main>
        <div id="options">
            <button class="option-buttons"></button>
            <button class="option-buttons"></button>
            <button class="option-buttons"></button>
            <button class="option-buttons"></button>
        </div>
        <div id="jobs-container">
            <div class="job-card">
                <div class="info-side">
                    <div class="job-info-header">
                        <img src="" alt="">
                        <div class="boss-info">
                            <p class="boss-name"></p>
                            <div id="boss-rep"></div>
                        </div>
                    </div>
                    <p class="payment"></p>
                    <p class="term"></p>
                </div>
                <div class="imgs-side">
                    <img src="" alt="" class="top-img">
                    <div class="bottom-imgs-container">
                        <img src="" alt="" class="bottom-img">
                        <img src="" alt="" class="bottom-img">
                    </div>
                </div>
            </div>
            <div class="job-card">
                <div class="info-side">
                    <div class="job-info-header">
                        <img src="" alt="">
                        <div class="boss-info">
                            <p class="boss-name"></p>
                            <div id="boss-rep"></div>
                        </div>
                    </div>
                    <p class="payment"></p>
                    <p class="term"></p>
                </div>
                <div class="imgs-side">
                    <img src="" alt="" class="top-img">
                    <div class="bottom-imgs-container">
                        <img src="" alt="" class="bottom-img">
                        <img src="" alt="" class="bottom-img">
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>